.page-small-header {
  background: #152533;
}

.header-container {
  padding-top: 135px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all ease 0.5s;
}

.header-title {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all ease 0.5s;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (max-width: 767px) {
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
  .header-container {
    padding-bottom: 10px;
    padding-top: 100px;
  }

  .header-title {
    margin-bottom: 5px;
    font-size: large;
  }
}
