.box {
  position: relative;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.box:hover {
  .box-img {
    -webkit-filter: brightness(0.2);
    filter: brightness(0.2);

    -webkit-transform: scale(1.2) translate3d(0, 0, 0);
    -moz-transform: scale(1.2) translate3d(0, 0, 0);
    -o-transform: scale(1.2) translate3d(0, 0, 0);
    -ms-transform: scale(1.2) translate3d(0, 0, 0);
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  .box-txt {
    background: none;
  }
}

.box-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(5, 5, 5, 0.8);
  padding: 10px;
  z-index: 15;
  transition: all ease 0.5s;
}

.box-title-lg {
  color: white;
  font-size: 1.8em !important;
  margin: 0 !important;
}

.box-title-sm {
  color: grey;
  margin: 0 !important;
}

.box-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  object-fit: cover;
  right: 0;
  bottom: 0;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
  transition: all ease-in-out 0.3s;
}

.box-btn-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .box-title-lg {
    font-size: 1.2em !important;
  }
}

@media screen and (max-width: 576px) {
  .box-title-lg {
    font-size: 1.8em !important;
  }
}
