.counter-container {
  margin: 30px 0;
}

.progress-bar-container {
  height: 2px;
}

.full-width-bar {
  height: 2px;
  background-color: #cacaca;
}

.my-progress-bar {
  background: #152533;
  height: 2px;
}

.open {
  width: 100%;
}

.close {
  width: 0%;
}

.progress-bar-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.progress-bar-label {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.progress-bar-percent {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  // align-items: center;
}

.percent {
  font-size: 1.8em;
  color: #152533;
  margin: 0;
}

.label {
  margin: 0;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .progress-bar-label {
    width: 85%;
  }
  .progress-bar-percent {
    width: 15%;
  }
}

@media only screen and (max-width: 490px) {
  .percent {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 400px) {
  .percent {
    font-size: 1.3em;
  }
  .progress-bar-label {
    width: 80%;
  }
  .progress-bar-percent {
    width: 20%;
  }
}
