.full-width-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  -moz-object-fit: cover;
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-content {
  display: table;
  height: 95vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.bg-content-middle {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.bg-logo {
  width: 400px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.background-txt {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.scroll-btn {
  background: #373c41;
  border: 1px solid white;
  color: white;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.scroll-btn:hover {
  background: #222527;
}

.scroll-btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

div.scroll-btn-container {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

.section-container {
  padding: 50px 0 0;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 650px) {
  .bg-logo {
    width: 60%;
  }
}

/* ---------------------------------------- SMARTPHONES ---------------------------------------- */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bg-logo {
    width: 80%;
  }

  .background-txt {
    font-size: 0.8em;
    margin: 0 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .bg-logo {
    width: 35%;
  }

  .background-txt {
    font-size: 0.8em;
    margin: 0 10px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bg-logo {
    width: 80%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .bg-logo {
    width: 35%;
  }

  .background-txt {
    font-size: 0.8em;
    margin: 0 10px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .bg-logo {
    width: 80%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .bg-logo {
    width: 35%;
  }

  .background-txt {
    font-size: 0.8em;
    margin: 0 10px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .bg-logo {
    width: 80%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .bg-logo {
    width: 35%;
  }

  .background-txt {
    font-size: 0.8em;
    margin: 0 10px;
  }
}

/* ---------------------------------------- iPADS ----------------------------------------- */

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .bg-logo {
    width: 60%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .bg-logo {
    width: 400px;
  }
}
